
<%- include('header') %>

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="custom_heading-container">
        <h2>
          Request A Call Back
        </h2>
      </div>
    </div>
  </div>
  <div class="container layout_padding2">
    <div class="row">
      <div class="col-md-5">
        <div class="form_container">
          <form action="/contact_us" method="POST">
            <div class="form-group">
              <label for="exampleInputName1">Name</label>
              <input type="text" class="form-control" id="exampleInputName1" name="name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputNumber1">Phone Number</label>
              <input type="text" class="form-control" id="exampleInputNumber1" name="phone" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
            </div>
            <div class="form-group">
              <label for="inputState">Select Medicine</label>
              <select id="inputState" class="form-control" name="medicine">
                <option selected>Medicine 1</option>
                <option>Medicine 2</option>
                <option>Medicine 3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputMessage">Message</label>
              <textarea class="form-control" id="exampleInputMessage" name="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <h3>
            Get Now Medicines
          </h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->



<!-- info section -->
<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h4>
            Contact
          </h4>
          <div class="box">
            <div class="img-box">
              <img src="images/telephone-symbol-button.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                0508508482
              </h6>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="images/email.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                jquayson827@gmail.com
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_menu">
          <h4>
            Menu
          </h4>
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html"> About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="medicine.html"> Medicine </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buy.html"> Online Buy </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info_news">
          <h4>
            newsletter
          </h4>
          <form action="">
            <input type="text" placeholder="Enter Your email">
            <div class="d-flex justify-content-center justify-content-end mt-3">
              <button>
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end info section -->

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    &copy; 2023 All Rights Reserved. Design by
    <a href="">Dev</a>
  </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
</script>